SQLALCHEMY_DATABASE_URI=sqlite:///db.sqlite
SECRET_KEY=AUTO
SECURITY_PASSWORD_SALT=AUTO
WTF_CSRF_SECRET_KEY=AUTO
BABEL_DEFAULT_LOCALE='translations' #folder where are the translation files to Babel
MAIL_SERVICES=True
V2F=0 # v2f = {0: 'désactivé', 1: 'activable', 2: 'obligatoire'}
INDEPENDENT_REGISTER=True
MAIL_DEBUG=False
MAIL_SERVER=smtp.gmail.com #smtp.gmail.com or aspmx.l.google.com (restricted) for using gmail
MAIL_PORT=587 #if you are using Gmail : 587 for TLS, 465 for SSL or 25 (restricted)
MAIL_USE=TLS #TLS or SSL or False (restricted)
MAIL_USERNAME=votre_nom_utilisateur #username or False (restricted)
MAIL_PASSWORD=votre_mot_de_passe #password or False (restricted)
MAIL_DEFAULT_SENDER=votre_email@gmail.com
DEFAULT_LANGUAGE=en
DEFAULT_TIMEZONE=UTC
ADMIN_PASSWORD=AUTO # the admin_password