@import url("https://fonts.googleapis.com/css?family=IBM%20Plex%20Sans:500|IBM%20Plex%20Sans:300");

$shape-size: 80px;
$distance: 3px;
$blur: 5px;
$intensity: 10%;
$bg-color: #ddeef7;// #ddeef7 #003856
$navbar-color: $bg-color;

@mixin neumorphism($distance, $blur, $intensity, $inset: false, $shape: flat, $color: $bg-color) {
    $light-color: lighten($color, $intensity);
    $dark-color: darken($color, $intensity);
    @if $shape == concave {
        background: linear-gradient(to bottom right, $light-color, $dark-color);
    } @else if $shape == convex {
        background: linear-gradient(to top left, $light-color, $dark-color);
    } @else {
        background: $color;
    }
    box-shadow:
        $distance $distance $blur $dark-color if($inset, inset, null),
        -#{$distance} -#{$distance} $blur $light-color if($inset, inset, null);
}

html {
    background-color: $bg-color;
}

::-webkit-scrollbar {
    @include neumorphism($distance, $blur, $intensity, true, flat, $bg-color);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    @include neumorphism($distance, $blur, $intensity, false, convex, $bg-color);
    border-radius: 50px;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

// base structure page
.wrapper {
    width: 100px;
    min-height: 100vh;
    background: $bg-color;
    display: grid;
    align-items: center;
    justify-items: center;
    position: fixed;
}

nav {
    z-index: 100;
    width: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    border-radius: 40px;
    position: relative;
    @include neumorphism($distance, $blur, $intensity, false, convex, $navbar-color);
    color: invert($bg-color);

    .home {
        $H: 1.3;
        height: 50px * $H;
        font-size: 25px;
        margin-bottom: 7px * $H;
        // background-color: invert($navbar-color);
        // color: $navbar-color;
        // filter: drop-shadow(0 0 5px invert($navbar-color));
        @include neumorphism($distance, $blur, $intensity, false, flat, $navbar-color);

        &:hover {
            @include neumorphism($distance, $blur, $intensity, true, convex, $navbar-color);
            color: invert($navbar-color);
            filter: none;

            &:active {
                @include neumorphism($distance, $blur, $intensity * 2, true, convex, $navbar-color);
                svg {
                    opacity: 75%;
                }
            }

            > * {
                font-size: 25px - 2px;

                svg {
                    transform: translateX(-(50px - (25px - 2px))/2);
                }
            }
        }

        svg {
            transform: translateX(-(50px-25px)/2);
        }
    }

    > * {
        width: 50px;
        height: 50px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 21px;
        border-radius: 45px;
        margin: 7px;
        color: invert($navbar-color);

        &:hover {
            @include neumorphism($distance, $blur, $intensity, true, concave, $navbar-color);

            &:active {
                @include neumorphism($distance, $blur, $intensity, true, convex, $navbar-color);
                svg {
                    opacity: 75%;
                }
            }

            > * {
                font-size: 21px - 1px;

                svg {
                    transform: translateX(-(50px - (21px - 1px))/2);
                }
            }
        }

        svg {
            display: inline-block;
            width: 1em;
            height: 1em;
            stroke-width: 0;
            stroke: currentColor;
            fill: currentColor;
            transform: translateX(-(50px-21px)/2);
        }
    }
}

.decals {
    overflow: hidden;
    border-radius: 15px;
    width: calc(100vw - 100px);
    transform: translateX(100px)
}

// test

main, footer, header {
    height: 100vh;
    width: 100%;
}

main {background-color: red;}
footer {background-color: blue;}
header {background-color: green;}