{% extends "layout.html" %}

{% block head %}
<title>Autadash | {% trans %}Connexion{% endtrans %}</title>
{% endblock %}

{% block content %}

<form method="post">
    <h2>{% trans %}Login{% endtrans %}</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p id="error_message">{{ messages[0] }}</p>
        {% endif %}
    {% endwith %}
    {{ form.hidden_tag() }}
    <div class="inputBx">
        {{ form.username_or_email(placeholder=_(form.username_or_email.label)) }}<br>
    </div>
    <div class="inputBx">
        {{ form.password(placeholder=_(form.password.label)) }}<br>
    </div>
    <div class="form-group">
        {{ form.submit(value=_("Login")) }}
    </div>
    <div class="links">
        <a href="{{ url_for('reset_password_request') }}">{% trans %}Forget Password{% endtrans %}</a>
        <a href="{{ url_for('register') }}">{% trans %}Register{% endtrans %}</a>
    </div>
</form>

{% endblock %}