{% extends "layout.html" %}

{% block head %}
<title>Autadash | {% trans %}Reset password{% endtrans %}</title>
{% endblock %}

{% block content %}
<!--ring div starts here-->
<main class="Ccomponent">
    <div class="ring">
        <i style="--clr: #00ff0a"></i>
        <i style="--clr: #f2704d"></i>
        <i style="--clr: #46baff"></i>
        <form class="login" method="POST">
            <h2>{% trans %}Reset Password{% endtrans %}</h2>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <p id="error_message">{{ messages[0] }}</p>
                {% endif %}
            {% endwith %}
            <div class="inputBx">
                <input type="password" id="password" name="password" placeholder="{% trans %}New Password{% endtrans %}" required />
            </div>
            <div class="inputBx">
                <input type="submit" value="{% trans %}Reset Password{% endtrans %}" style="font-weight:bold;"/>
            </div>
        </form>
    </div>
</main>
<!--ring div ends here-->
<!-- https://codepen.io/Gogh/pen/gOqVqBx -->
{% endblock %}
