{% extends "layout.html" %} {% block head %}
<title>Autadash | Connexion</title>
{% endblock %} {% block content %}
<!--ring div starts here-->
<main class="Ccomponent">
    <div class="ring">
        <i style="--clr: #00ff0a"></i>
        <i style="--clr: #f2704d"></i>
        <i style="--clr: #46baff"></i>
        <form class="login" method="POST">
            <h2>Login</h2>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <p id="error_message">{{ messages[0] }}</p>
                {% endif %}
            {% endwith %}
            <div class="inputBx">
                <input type="text" id="username_or_email" name="username_or_email" placeholder="Username or Email" required />
            </div>
            <div class="inputBx">
                <input type="password" id="password" name="password" placeholder="Password" required />
            </div>
            <div class="inputBx">
                <input type="submit" value="Sign in" style="font-weight:bold;"/>
            </div>
            <div class="links">
                <a href="#">Forget Password</a>
                <a href="{{ url_for('signup') }}">Signup</a>
            </div>
        </form>
    </div>
</main>
<!--ring div ends here-->
<!-- https://codepen.io/Gogh/pen/gOqVqBx -->
{% endblock %}
