<div class="pre_footer"></div>
<footer id="footer">
    <div class="col col1">
        <h3>Autadash</h3>
        <p>Made with <span style="color: #f9294b;">Flask</span> by Flyns157</p>
        <div class="social">
            <a href="https://github.com/Flyns157" target="_blank" class="link"><img
                    src="/img/github-mark-white.png" alt="" /></a>
            <a href="https://discord.gg/xcdMT3dF" target="_blank" class="link"><img
                    src="/img/discord-mark-white.png" alt="" /></a>
            <a href="https://www.youtube.com/@flyns1536/featured" target="_blank" class="link"><img
                    src="/img/youtube_1.webp" alt="" /></a>
        </div>
        <p style="color: #818181; font-size: smaller">2024 © All Rights Reserved</p>
    </div>
    <div class="col col2">
        <p>About</p>
        <p>Our mission</p>
        <p>Privacy Policy</p>
        <p>Terms of service</p>
    </div>
    <div class="col col3">
        <p>Services</p>
        <p>Products</p>
        <p>Join our team</p>
        <p>Partner with us</p>
    </div>
    <div class="backdrop"></div>
</footer>
<!-- https://codepen.io/Juxtopposed/pen/jORqBrJ -->